In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests as re
import json

In [2]:
DT = pd.read_csv(r"C:\Users\jared\Desktop\nss\capstone\data\Dollar Tree.csv")

In [3]:
DT

,Longitude,Latitude,Store,Street_Address
0,-86.803170,33.230450,Dollar Tree #4579 (Alabaster),"300 Colonial Promenade Pkwy Ste. 1100,Alabaste..."
1,-86.469314,34.639145,Dollar Tree #8553 (Albertville),"7661 Highway 431 Ste 300\r,Albertville, AL 359..."
2,-85.959942,32.920836,Dollar Tree #4133 (Alexander City),"1003 Market Place,Alexander City, AL 35010,Pho..."
3,-88.153307,33.126537,Dollar Tree #8963 (Aliceville),"105 Memorial Parkway Nw\r,Aliceville, AL 35442..."
4,-86.463601,31.318610,Dollar Tree #4637 (Andalusia),"1138 Dr Mlk Jr Expy\r,Andalusia, AL 36420\r,Ph..."
...,...,...,...,...
7915,-105.493930,44.276462,Dollar Tree #3567 (Gillette),"2005 S. Douglas Hwy. Ste B\r,Gillette, WY 8271..."
7916,-110.770844,43.478005,Dollar Tree #2781 (Jackson),"520 W Broadway #A\r,Jackson, WY 83001\r,Phone:..."
7917,-108.380630,43.035558,Dollar Tree #3537 (Riverton),"1004 N Federal Blvd\r,Riverton, WY 82501\r,Pho..."
7918,-109.258280,41.582270,Dollar Tree #2891 (Rock Springs),"2601 Foothill Blvd\r,Rock Springs, WY 82901\r,..."
7919,-106.942601,44.773427,Dollar Tree #3726 (Sheridan),"2220 Coffeen Avenue\r,Sheridan, WY 82801\r,Pho..."

In [4]:
DT_split = DT['Street_Address'].str.split(',', expand = True)

In [5]:
type(DT_split)

pandas.core.frame.DataFrame

In [6]:
DT_split

,0,1,2,3,4,5
0,300 Colonial Promenade Pkwy Ste. 1100,Alabaster,AL 35007,Phone: 205-664-7433,None,None
1,7661 Highway 431 Ste 300\r,Albertville,AL 35950\r,Phone: 256-744-7257,None,None
2,1003 Market Place,Alexander City,AL 35010,Phone: 256-234-7652,None,None
3,105 Memorial Parkway Nw\r,Aliceville,AL 35442\r,Phone: 205-890-0001,None,None
4,1138 Dr Mlk Jr Expy\r,Andalusia,AL 36420\r,Phone: 334-222-2811,None,None
...,...,...,...,...,...,...
7915,2005 S. Douglas Hwy. Ste B\r,Gillette,WY 82718\r,Phone: 307-682-7306,None,None
7916,520 W Broadway #A\r,Jackson,WY 83001\r,Phone: 307-734-9635,None,None
7917,1004 N Federal Blvd\r,Riverton,WY 82501\r,Phone: 307-856-4005,None,None
7918,2601 Foothill Blvd\r,Rock Springs,WY 82901\r,Phone: 307-362-1209,None,None
7919,2220 Coffeen Avenue\r,Sheridan,WY 82801\r,Phone: 307-673-0178,None,None

In [7]:
DT = pd.concat([DT,DT_split], axis = 1)
DT

,Longitude,Latitude,Store,Street_Address,0,1,2,3,4,5
0,-86.803170,33.230450,Dollar Tree #4579 (Alabaster),"300 Colonial Promenade Pkwy Ste. 1100,Alabaste...",300 Colonial Promenade Pkwy Ste. 1100,Alabaster,AL 35007,Phone: 205-664-7433,None,None
1,-86.469314,34.639145,Dollar Tree #8553 (Albertville),"7661 Highway 431 Ste 300\r,Albertville, AL 359...",7661 Highway 431 Ste 300\r,Albertville,AL 35950\r,Phone: 256-744-7257,None,None
2,-85.959942,32.920836,Dollar Tree #4133 (Alexander City),"1003 Market Place,Alexander City, AL 35010,Pho...",1003 Market Place,Alexander City,AL 35010,Phone: 256-234-7652,None,None
3,-88.153307,33.126537,Dollar Tree #8963 (Aliceville),"105 Memorial Parkway Nw\r,Aliceville, AL 35442...",105 Memorial Parkway Nw\r,Aliceville,AL 35442\r,Phone: 205-890-0001,None,None
4,-86.463601,31.318610,Dollar Tree #4637 (Andalusia),"1138 Dr Mlk Jr Expy\r,Andalusia, AL 36420\r,Ph...",1138 Dr Mlk Jr Expy\r,Andalusia,AL 36420\r,Phone: 334-222-2811,None,None
...,...,...,...,...,...,...,...,...,...,...
7915,-105.493930,44.276462,Dollar Tree #3567 (Gillette),"2005 S. Douglas Hwy. Ste B\r,Gillette, WY 8271...",2005 S. Douglas Hwy. Ste B\r,Gillette,WY 82718\r,Phone: 307-682-7306,None,None
7916,-110.770844,43.478005,Dollar Tree #2781 (Jackson),"520 W Broadway #A\r,Jackson, WY 83001\r,Phone:...",520 W Broadway #A\r,Jackson,WY 83001\r,Phone: 307-734-9635,None,None
7917,-108.380630,43.035558,Dollar Tree #3537 (Riverton),"1004 N Federal Blvd\r,Riverton, WY 82501\r,Pho...",1004 N Federal Blvd\r,Riverton,WY 82501\r,Phone: 307-856-4005,None,None
7918,-109.258280,41.582270,Dollar Tree #2891 (Rock Springs),"2601 Foothill Blvd\r,Rock Springs, WY 82901\r,...",2601 Foothill Blvd\r,Rock Springs,WY 82901\r,Phone: 307-362-1209,None,None
7919,-106.942601,44.773427,Dollar Tree #3726 (Sheridan),"2220 Coffeen Avenue\r,Sheridan, WY 82801\r,Pho...",2220 Coffeen Avenue\r,Sheridan,WY 82801\r,Phone: 307-673-0178,None,None

In [8]:
DT = DT.drop(columns = ['Street_Address',4,5])
DT

,Longitude,Latitude,Store,0,1,2,3
0,-86.803170,33.230450,Dollar Tree #4579 (Alabaster),300 Colonial Promenade Pkwy Ste. 1100,Alabaster,AL 35007,Phone: 205-664-7433
1,-86.469314,34.639145,Dollar Tree #8553 (Albertville),7661 Highway 431 Ste 300\r,Albertville,AL 35950\r,Phone: 256-744-7257
2,-85.959942,32.920836,Dollar Tree #4133 (Alexander City),1003 Market Place,Alexander City,AL 35010,Phone: 256-234-7652
3,-88.153307,33.126537,Dollar Tree #8963 (Aliceville),105 Memorial Parkway Nw\r,Aliceville,AL 35442\r,Phone: 205-890-0001
4,-86.463601,31.318610,Dollar Tree #4637 (Andalusia),1138 Dr Mlk Jr Expy\r,Andalusia,AL 36420\r,Phone: 334-222-2811
...,...,...,...,...,...,...,...
7915,-105.493930,44.276462,Dollar Tree #3567 (Gillette),2005 S. Douglas Hwy. Ste B\r,Gillette,WY 82718\r,Phone: 307-682-7306
7916,-110.770844,43.478005,Dollar Tree #2781 (Jackson),520 W Broadway #A\r,Jackson,WY 83001\r,Phone: 307-734-9635
7917,-108.380630,43.035558,Dollar Tree #3537 (Riverton),1004 N Federal Blvd\r,Riverton,WY 82501\r,Phone: 307-856-4005
7918,-109.258280,41.582270,Dollar Tree #2891 (Rock Springs),2601 Foothill Blvd\r,Rock Springs,WY 82901\r,Phone: 307-362-1209
7919,-106.942601,44.773427,Dollar Tree #3726 (Sheridan),2220 Coffeen Avenue\r,Sheridan,WY 82801\r,Phone: 307-673-0178

In [9]:
DT_split_2 = DT[2].str.split(' ', expand = True)
DT_split_2.reset_index()

      index 0    1        2
0         0     AL    35007
1         1     AL  35950\r
2         2     AL    35010
3         3     AL  35442\r
4         4     AL  36420\r
...     ... ..  ..      ...
7915   7915     WY  82718\r
7916   7916     WY  83001\r
7917   7917     WY  82501\r
7918   7918     WY  82901\r
7919   7919     WY  82801\r

[7920 rows x 4 columns]

In [10]:
DT_split_2 = DT_split_2.rename(columns = {1:'state',2:'zip'})
DT_split_2.dtypes

0        object
state    object
zip      object
dtype: object

In [11]:
DT_split_2 = DT_split_2.drop(columns = [0])
DT_split_2

     state      zip
0       AL    35007
1       AL  35950\r
2       AL    35010
3       AL  35442\r
4       AL  36420\r
...    ...      ...
7915    WY  82718\r
7916    WY  83001\r
7917    WY  82501\r
7918    WY  82901\r
7919    WY  82801\r

[7920 rows x 2 columns]

In [12]:
DT = DT.drop(columns = [2])
DT

,Longitude,Latitude,Store,0,1,3
0,-86.803170,33.230450,Dollar Tree #4579 (Alabaster),300 Colonial Promenade Pkwy Ste. 1100,Alabaster,Phone: 205-664-7433
1,-86.469314,34.639145,Dollar Tree #8553 (Albertville),7661 Highway 431 Ste 300\r,Albertville,Phone: 256-744-7257
2,-85.959942,32.920836,Dollar Tree #4133 (Alexander City),1003 Market Place,Alexander City,Phone: 256-234-7652
3,-88.153307,33.126537,Dollar Tree #8963 (Aliceville),105 Memorial Parkway Nw\r,Aliceville,Phone: 205-890-0001
4,-86.463601,31.318610,Dollar Tree #4637 (Andalusia),1138 Dr Mlk Jr Expy\r,Andalusia,Phone: 334-222-2811
...,...,...,...,...,...,...
7915,-105.493930,44.276462,Dollar Tree #3567 (Gillette),2005 S. Douglas Hwy. Ste B\r,Gillette,Phone: 307-682-7306
7916,-110.770844,43.478005,Dollar Tree #2781 (Jackson),520 W Broadway #A\r,Jackson,Phone: 307-734-9635
7917,-108.380630,43.035558,Dollar Tree #3537 (Riverton),1004 N Federal Blvd\r,Riverton,Phone: 307-856-4005
7918,-109.258280,41.582270,Dollar Tree #2891 (Rock Springs),2601 Foothill Blvd\r,Rock Springs,Phone: 307-362-1209
7919,-106.942601,44.773427,Dollar Tree #3726 (Sheridan),2220 Coffeen Avenue\r,Sheridan,Phone: 307-673-0178

In [13]:
DT = pd.concat([DT,DT_split_2], axis = 1)
DT

,Longitude,Latitude,Store,0,1,3,state,zip
0,-86.803170,33.230450,Dollar Tree #4579 (Alabaster),300 Colonial Promenade Pkwy Ste. 1100,Alabaster,Phone: 205-664-7433,AL,35007
1,-86.469314,34.639145,Dollar Tree #8553 (Albertville),7661 Highway 431 Ste 300\r,Albertville,Phone: 256-744-7257,AL,35950\r
2,-85.959942,32.920836,Dollar Tree #4133 (Alexander City),1003 Market Place,Alexander City,Phone: 256-234-7652,AL,35010
3,-88.153307,33.126537,Dollar Tree #8963 (Aliceville),105 Memorial Parkway Nw\r,Aliceville,Phone: 205-890-0001,AL,35442\r
4,-86.463601,31.318610,Dollar Tree #4637 (Andalusia),1138 Dr Mlk Jr Expy\r,Andalusia,Phone: 334-222-2811,AL,36420\r
...,...,...,...,...,...,...,...,...
7915,-105.493930,44.276462,Dollar Tree #3567 (Gillette),2005 S. Douglas Hwy. Ste B\r,Gillette,Phone: 307-682-7306,WY,82718\r
7916,-110.770844,43.478005,Dollar Tree #2781 (Jackson),520 W Broadway #A\r,Jackson,Phone: 307-734-9635,WY,83001\r
7917,-108.380630,43.035558,Dollar Tree #3537 (Riverton),1004 N Federal Blvd\r,Riverton,Phone: 307-856-4005,WY,82501\r
7918,-109.258280,41.582270,Dollar Tree #2891 (Rock Springs),2601 Foothill Blvd\r,Rock Springs,Phone: 307-362-1209,WY,82901\r
7919,-106.942601,44.773427,Dollar Tree #3726 (Sheridan),2220 Coffeen Avenue\r,Sheridan,Phone: 307-673-0178,WY,82801\r

In [14]:
DT = DT.drop(columns = [3])
DT

,Longitude,Latitude,Store,0,1,state,zip
0,-86.803170,33.230450,Dollar Tree #4579 (Alabaster),300 Colonial Promenade Pkwy Ste. 1100,Alabaster,AL,35007
1,-86.469314,34.639145,Dollar Tree #8553 (Albertville),7661 Highway 431 Ste 300\r,Albertville,AL,35950\r
2,-85.959942,32.920836,Dollar Tree #4133 (Alexander City),1003 Market Place,Alexander City,AL,35010
3,-88.153307,33.126537,Dollar Tree #8963 (Aliceville),105 Memorial Parkway Nw\r,Aliceville,AL,35442\r
4,-86.463601,31.318610,Dollar Tree #4637 (Andalusia),1138 Dr Mlk Jr Expy\r,Andalusia,AL,36420\r
...,...,...,...,...,...,...,...
7915,-105.493930,44.276462,Dollar Tree #3567 (Gillette),2005 S. Douglas Hwy. Ste B\r,Gillette,WY,82718\r
7916,-110.770844,43.478005,Dollar Tree #2781 (Jackson),520 W Broadway #A\r,Jackson,WY,83001\r
7917,-108.380630,43.035558,Dollar Tree #3537 (Riverton),1004 N Federal Blvd\r,Riverton,WY,82501\r
7918,-109.258280,41.582270,Dollar Tree #2891 (Rock Springs),2601 Foothill Blvd\r,Rock Springs,WY,82901\r
7919,-106.942601,44.773427,Dollar Tree #3726 (Sheridan),2220 Coffeen Avenue\r,Sheridan,WY,82801\r

In [15]:
DT = DT.rename(columns = {0:'Street_Address',1:'City'})
DT

,Longitude,Latitude,Store,Street_Address,City,state,zip
0,-86.803170,33.230450,Dollar Tree #4579 (Alabaster),300 Colonial Promenade Pkwy Ste. 1100,Alabaster,AL,35007
1,-86.469314,34.639145,Dollar Tree #8553 (Albertville),7661 Highway 431 Ste 300\r,Albertville,AL,35950\r
2,-85.959942,32.920836,Dollar Tree #4133 (Alexander City),1003 Market Place,Alexander City,AL,35010
3,-88.153307,33.126537,Dollar Tree #8963 (Aliceville),105 Memorial Parkway Nw\r,Aliceville,AL,35442\r
4,-86.463601,31.318610,Dollar Tree #4637 (Andalusia),1138 Dr Mlk Jr Expy\r,Andalusia,AL,36420\r
...,...,...,...,...,...,...,...
7915,-105.493930,44.276462,Dollar Tree #3567 (Gillette),2005 S. Douglas Hwy. Ste B\r,Gillette,WY,82718\r
7916,-110.770844,43.478005,Dollar Tree #2781 (Jackson),520 W Broadway #A\r,Jackson,WY,83001\r
7917,-108.380630,43.035558,Dollar Tree #3537 (Riverton),1004 N Federal Blvd\r,Riverton,WY,82501\r
7918,-109.258280,41.582270,Dollar Tree #2891 (Rock Springs),2601 Foothill Blvd\r,Rock Springs,WY,82901\r
7919,-106.942601,44.773427,Dollar Tree #3726 (Sheridan),2220 Coffeen Avenue\r,Sheridan,WY,82801\r

In [16]:
DT['zip'] = DT['zip'].str.replace('\r', '')
DT

,Longitude,Latitude,Store,Street_Address,City,state,zip
0,-86.803170,33.230450,Dollar Tree #4579 (Alabaster),300 Colonial Promenade Pkwy Ste. 1100,Alabaster,AL,35007
1,-86.469314,34.639145,Dollar Tree #8553 (Albertville),7661 Highway 431 Ste 300\r,Albertville,AL,35950
2,-85.959942,32.920836,Dollar Tree #4133 (Alexander City),1003 Market Place,Alexander City,AL,35010
3,-88.153307,33.126537,Dollar Tree #8963 (Aliceville),105 Memorial Parkway Nw\r,Aliceville,AL,35442
4,-86.463601,31.318610,Dollar Tree #4637 (Andalusia),1138 Dr Mlk Jr Expy\r,Andalusia,AL,36420
...,...,...,...,...,...,...,...
7915,-105.493930,44.276462,Dollar Tree #3567 (Gillette),2005 S. Douglas Hwy. Ste B\r,Gillette,WY,82718
7916,-110.770844,43.478005,Dollar Tree #2781 (Jackson),520 W Broadway #A\r,Jackson,WY,83001
7917,-108.380630,43.035558,Dollar Tree #3537 (Riverton),1004 N Federal Blvd\r,Riverton,WY,82501
7918,-109.258280,41.582270,Dollar Tree #2891 (Rock Springs),2601 Foothill Blvd\r,Rock Springs,WY,82901
7919,-106.942601,44.773427,Dollar Tree #3726 (Sheridan),2220 Coffeen Avenue\r,Sheridan,WY,82801

In [17]:
DT['Street_Address'] = DT['Street_Address'].str.replace('\r', '')
DT

,Longitude,Latitude,Store,Street_Address,City,state,zip
0,-86.803170,33.230450,Dollar Tree #4579 (Alabaster),300 Colonial Promenade Pkwy Ste. 1100,Alabaster,AL,35007
1,-86.469314,34.639145,Dollar Tree #8553 (Albertville),7661 Highway 431 Ste 300,Albertville,AL,35950
2,-85.959942,32.920836,Dollar Tree #4133 (Alexander City),1003 Market Place,Alexander City,AL,35010
3,-88.153307,33.126537,Dollar Tree #8963 (Aliceville),105 Memorial Parkway Nw,Aliceville,AL,35442
4,-86.463601,31.318610,Dollar Tree #4637 (Andalusia),1138 Dr Mlk Jr Expy,Andalusia,AL,36420
...,...,...,...,...,...,...,...
7915,-105.493930,44.276462,Dollar Tree #3567 (Gillette),2005 S. Douglas Hwy. Ste B,Gillette,WY,82718
7916,-110.770844,43.478005,Dollar Tree #2781 (Jackson),520 W Broadway #A,Jackson,WY,83001
7917,-108.380630,43.035558,Dollar Tree #3537 (Riverton),1004 N Federal Blvd,Riverton,WY,82501
7918,-109.258280,41.582270,Dollar Tree #2891 (Rock Springs),2601 Foothill Blvd,Rock Springs,WY,82901
7919,-106.942601,44.773427,Dollar Tree #3726 (Sheridan),2220 Coffeen Avenue,Sheridan,WY,82801

In [ ]:
|