In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests as re
import json

In [2]:
DG = pd.read_csv(r"C:\Users\jared\Desktop\nss\capstone\data\Dollar General.csv")

In [3]:
DG

,Longitude,Latitude,Location,Street_Address,City,State,Zip,Store
0,-85.252144,31.562979,"Dollar General-Abbeville,AL",103 W Alabama Rd,Abbeville,AL,36310-2132,DG # 7357
1,-87.170155,34.199198,"Dollar General-Addison,AL",31631 Hwy 278 E,Addison,AL,35540-0207,DG # 7700
2,-87.147540,33.450210,"Dollar General-Adger,AL",9083 Lock 17 Rd,Adger,AL,35006,DG # 19386
3,-87.699349,32.865654,"Dollar General-Akron,AL",2517 County Rd 36,Akron,AL,35441-2048,DG # 14314
4,-86.824958,33.214217,"Dollar General-Alabaster,AL",2260 Kent Dairy Rd,Alabaster,AL,35007-0692,DG # 9539
...,...,...,...,...,...,...,...,...
18100,-105.625340,41.308664,"Dollar General-Laramie,WY",2158 Snowy Range Rd,Laramie,WY,82070,DG # 20839
18101,-104.943626,44.262482,"Dollar General-Moorcroft,WY",620 E Converse St,Moorcroft,WY,82721,DG # 21762
18102,-104.194024,43.848314,"Dollar General-Newcastle,WY",833 South Summit Ave,Newcastle,WY,82701,DG # 22615
18103,-104.076104,41.179653,"Dollar General-Pine Bluffs,WY",604 Parson St,Pine Bluffs,WY,82082,DG # 20856
18104,-105.479518,43.760445,"Dollar General-Wright,WY",100 Reno Dr,Wright,WY,82732,DG # 21920

In [4]:
DG_TN = DG.loc[DG['State'] == 'TN']

In [5]:
DG_TN

,Longitude,Latitude,Location,Street_Address,City,State,Zip,Store
14441,-87.066780,36.582896,"Dollar General-Adams,TN",7730 Highway 41 N,Adams,TN,37010,DG # 11451
14442,-88.372241,35.232807,"Dollar General-Adamsville,TN",715 E Main St,Adamsville,TN,38310,DG # 3848
14443,-82.709843,36.148669,"Dollar General-Afton,TN",4495 Erwin Hwy,Afton,TN,37616,DG # 21765
14444,-82.745609,36.270779,"Dollar General-Afton,TN",7921 Kingsport Hwy,Afton,TN,37616,DG # 17297
14445,-89.136447,35.790506,"Dollar General-Alamo,TN",1200 W Church St,Alamo,TN,38001,DG # 23713
...,...,...,...,...,...,...,...,...
15317,-86.106468,35.182292,"Dollar General-Winchester,TN",585 South College St,Winchester,TN,37398,DG # 4658
15318,-84.456505,36.542926,"Dollar General-Winfield,TN",23991 Scott Hwy,Winfield,TN,37892,DG # 19455
15319,-86.084298,35.825738,"Dollar General Market-Woodbury,TN",1003 W Main St,Woodbury,TN,37190,DG # 9816
15320,-86.050459,35.780487,"Dollar General-Woodbury,TN",3632 Jim Cummings Hwy,Woodbury,TN,37190,DG # 13977
15321,-88.390025,35.866794,"Dollar General-Yuma,TN",12570 Highway 424,Yuma,TN,38390,DG # 10761

In [6]:
DG_Split = DG_TN['Zip'].str.split('-', expand = True)
DG_Split

           0
14441  37010
14442  38310
14443  37616
14444  37616
14445  38001
...      ...
15317  37398
15318  37892
15319  37190
15320  37190
15321  38390

[881 rows x 1 columns]