In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests as re
import json

In [2]:
FD = pd.read_csv(r"C:\Users\jared\Desktop\nss\capstone\data\FamilyDollar_USA.csv")

In [3]:
FD

,Longitude,Latitude,Location,Street_Address,City,State,Zip,Store,Unnamed: 8
0,-85.250439,31.568656,"Family Dollar-Abbeville,AL",214 Kirkland St,Abbeville,AL,36310-22417,Family Dollar #1428,NaN
1,-86.210389,34.269828,"Family Dollar-Albertville,AL",315 Sand Mountain Dr Se,Albertville,AL,35950-2329,Family Dollar #2721,NaN
2,-88.149658,33.127592,"Family Dollar-Aliceville,AL",35 Memorial Pkwy E,Aliceville,AL,35442-2155,Family Dollar #567,NaN
3,-85.827044,33.666735,"Family Dollar-Anniston,AL",1722 Quintard Ave,Anniston,AL,36201,Family Dollar #552,NaN
4,-86.265679,33.842879,"Family Dollar-Ashville,AL",35360 US Hwy 231,Ashville,AL,35953,Family Dollar #12668,NaN
...,...,...,...,...,...,...,...,...,...
7943,-102.003474,36.046639,"Family Dollar-Thayne,WY",440 N Main Street,Thayne,WY,83127,Family Dollar #11289,NaN
7944,-108.213000,43.640700,"Family Dollar-Thermopolis,WY",514 S 6th St,Thermopolis,WY,82443,Family Dollar #8329,NaN
7945,-104.175372,42.059440,"Family Dollar-Torrington,WY",740 E Valley Rd,Torrington,WY,82240,Family Dollar #7143,NaN
7946,-104.963205,42.059888,"Family Dollar-Wheatland,WY",1303 16th St,Wheatland,WY,82201,Family Dollar #6971,NaN
7947,-107.955704,44.020183,"Family Dollar-Worland,WY",420 N 10th St,Worland,WY,82401,Family Dollar #6882,NaN

In [ ]:
FD['Zip'] = FD['Zip'].str[:-6]
FD