In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests as re
import json

In [2]:
DG_clean = pd.read_csv(r'C:\Users\jared\Desktop\nss\capstone\data\DG_TN.csv')
DG_clean

,Unnamed: 0,Longitude,Latitude,Location,Street_Address,City,State,Zip,Store
0,14441,-87.066780,36.582896,"Dollar General-Adams,TN",7730 Highway 41 N,Adams,TN,37010,DG # 11451
1,14442,-88.372241,35.232807,"Dollar General-Adamsville,TN",715 E Main St,Adamsville,TN,38310,DG # 3848
2,14443,-82.709843,36.148669,"Dollar General-Afton,TN",4495 Erwin Hwy,Afton,TN,37616,DG # 21765
3,14444,-82.745609,36.270779,"Dollar General-Afton,TN",7921 Kingsport Hwy,Afton,TN,37616,DG # 17297
4,14445,-89.136447,35.790506,"Dollar General-Alamo,TN",1200 W Church St,Alamo,TN,38001,DG # 23713
...,...,...,...,...,...,...,...,...,...
876,15317,-86.106468,35.182292,"Dollar General-Winchester,TN",585 South College St,Winchester,TN,37398,DG # 4658
877,15318,-84.456505,36.542926,"Dollar General-Winfield,TN",23991 Scott Hwy,Winfield,TN,37892,DG # 19455
878,15319,-86.084298,35.825738,"Dollar General Market-Woodbury,TN",1003 W Main St,Woodbury,TN,37190,DG # 9816
879,15320,-86.050459,35.780487,"Dollar General-Woodbury,TN",3632 Jim Cummings Hwy,Woodbury,TN,37190,DG # 13977
880,15321,-88.390025,35.866794,"Dollar General-Yuma,TN",12570 Highway 424,Yuma,TN,38390,DG # 10761

In [3]:
DG_clean = DG_clean.drop(columns = ['Unnamed: 0'])
DG_clean

,Longitude,Latitude,Location,Street_Address,City,State,Zip,Store
0,-87.066780,36.582896,"Dollar General-Adams,TN",7730 Highway 41 N,Adams,TN,37010,DG # 11451
1,-88.372241,35.232807,"Dollar General-Adamsville,TN",715 E Main St,Adamsville,TN,38310,DG # 3848
2,-82.709843,36.148669,"Dollar General-Afton,TN",4495 Erwin Hwy,Afton,TN,37616,DG # 21765
3,-82.745609,36.270779,"Dollar General-Afton,TN",7921 Kingsport Hwy,Afton,TN,37616,DG # 17297
4,-89.136447,35.790506,"Dollar General-Alamo,TN",1200 W Church St,Alamo,TN,38001,DG # 23713
...,...,...,...,...,...,...,...,...
876,-86.106468,35.182292,"Dollar General-Winchester,TN",585 South College St,Winchester,TN,37398,DG # 4658
877,-84.456505,36.542926,"Dollar General-Winfield,TN",23991 Scott Hwy,Winfield,TN,37892,DG # 19455
878,-86.084298,35.825738,"Dollar General Market-Woodbury,TN",1003 W Main St,Woodbury,TN,37190,DG # 9816
879,-86.050459,35.780487,"Dollar General-Woodbury,TN",3632 Jim Cummings Hwy,Woodbury,TN,37190,DG # 13977
880,-88.390025,35.866794,"Dollar General-Yuma,TN",12570 Highway 424,Yuma,TN,38390,DG # 10761

In [4]:
DT_clean = pd.read_csv(r'C:\Users\jared\Desktop\nss\capstone\data\DT_TN.csv')
DT_clean

,Unnamed: 0,Longitude,Latitude,Store,Street_Address,City,state,zip
0,6386,-83.989156,35.766726,Dollar Tree #545 (Alcoa),1135 Hunters Crossing,Alcoa,TN,37701
1,6387,-86.648068,36.047279,Dollar Tree #2157 (Antioch),5360 Mt View Rd,Antioch,TN,37013
2,6388,-86.849140,34.992880,Dollar Tree #7460 (Ardmore),26366 Main St..,Ardmore,TN,38449
3,6389,-86.750090,36.131190,Dollar Tree #6343 (Ashland City),290 Hutton Place Suite #160,Ashland City,TN,37015
4,6391,-89.862236,35.204770,Dollar Tree #395 (Bartlett),6035 Stage Road,Bartlett,TN,38134
...,...,...,...,...,...,...,...,...
190,6581,-84.474752,35.590067,Dollar Tree #6752 (Sweetwater),919 New Highway 68,Sweetwater,TN,37874
191,6582,-86.239567,35.391670,Dollar Tree #501 (Tullahoma),2111 N. Jackson Street Suite 105,Tullahoma,TN,37388
192,6583,-89.075551,36.414363,Dollar Tree #373 (Union City),1401 West Reelfoot Ave. Suite 202,Union City,TN,38261
193,6584,-87.759131,35.324232,Dollar Tree #7566 (Waynesboro),321 Dexter L Woods.. Memorial Blvd Suite C,Waynesboro,TN,38485
194,6585,-86.664940,36.468670,Dollar Tree #7739 (White House),485 Hwy 76,White House,TN,37188

In [5]:
DT_clean = DT_clean.drop(columns = ['Unnamed: 0'])
DT_clean

,Longitude,Latitude,Store,Street_Address,City,state,zip
0,-83.989156,35.766726,Dollar Tree #545 (Alcoa),1135 Hunters Crossing,Alcoa,TN,37701
1,-86.648068,36.047279,Dollar Tree #2157 (Antioch),5360 Mt View Rd,Antioch,TN,37013
2,-86.849140,34.992880,Dollar Tree #7460 (Ardmore),26366 Main St..,Ardmore,TN,38449
3,-86.750090,36.131190,Dollar Tree #6343 (Ashland City),290 Hutton Place Suite #160,Ashland City,TN,37015
4,-89.862236,35.204770,Dollar Tree #395 (Bartlett),6035 Stage Road,Bartlett,TN,38134
...,...,...,...,...,...,...,...
190,-84.474752,35.590067,Dollar Tree #6752 (Sweetwater),919 New Highway 68,Sweetwater,TN,37874
191,-86.239567,35.391670,Dollar Tree #501 (Tullahoma),2111 N. Jackson Street Suite 105,Tullahoma,TN,37388
192,-89.075551,36.414363,Dollar Tree #373 (Union City),1401 West Reelfoot Ave. Suite 202,Union City,TN,38261
193,-87.759131,35.324232,Dollar Tree #7566 (Waynesboro),321 Dexter L Woods.. Memorial Blvd Suite C,Waynesboro,TN,38485
194,-86.664940,36.468670,Dollar Tree #7739 (White House),485 Hwy 76,White House,TN,37188

In [6]:
FD_clean = pd.read_csv(r'C:\Users\jared\Desktop\nss\capstone\data\FD_TN.csv')
FD_clean

,Unnamed: 0,Longitude,Latitude,Location,Street_Address,City,State,Zip,Store
0,6086,-88.385567,35.235951,"Family Dollar-Adamsville,TN",306 E Main Street,Adamsville,TN,38310,Family Dollar #10798
1,6087,-86.651101,36.049583,"Family Dollar-Antioch,TN",853 Bell Road,Antioch,TN,37013,Family Dollar #8967
2,6088,-86.682853,36.069604,"Family Dollar-Antioch,TN",955 Richards Road,Antioch,TN,37013,Family Dollar #5657
3,6089,-87.052730,36.261661,"Family Dollar-Ashland City,TN",835 S Main St,Ashland City,TN,37015,Family Dollar #590
4,6090,-84.610186,35.448242,"Family Dollar-Athens,TN",911 Decatur Pike,Athens,TN,37303,Family Dollar #295
...,...,...,...,...,...,...,...,...,...
188,6274,-86.215996,35.358601,"Family Dollar-Tullahoma,TN",437 W Lincoln St,Tullahoma,TN,37388,Family Dollar #819
189,6275,-84.584863,36.102002,"Family Dollar-Wartburg,TN",3910 Morgan County Hwy #3,Wartburg,TN,37887,Family Dollar #3114
190,6276,-83.282542,36.106325,"Family Dollar-White Pine,TN",1214 State St,White Pine,TN,37890,Family Dollar #626
191,6277,-83.339293,36.047745,"Family Dollar-White Pine,TN",299 Highway 113,White Pine,TN,37890,Family Dollar #12382
192,6278,-85.527656,35.182432,"Family Dollar-Whitwell,TN",13170 Highway 28,Whitwell,TN,37397,Family Dollar #3965

In [7]:
FD_clean = FD_clean.drop(columns = ['Unnamed: 0'])
FD_clean

,Longitude,Latitude,Location,Street_Address,City,State,Zip,Store
0,-88.385567,35.235951,"Family Dollar-Adamsville,TN",306 E Main Street,Adamsville,TN,38310,Family Dollar #10798
1,-86.651101,36.049583,"Family Dollar-Antioch,TN",853 Bell Road,Antioch,TN,37013,Family Dollar #8967
2,-86.682853,36.069604,"Family Dollar-Antioch,TN",955 Richards Road,Antioch,TN,37013,Family Dollar #5657
3,-87.052730,36.261661,"Family Dollar-Ashland City,TN",835 S Main St,Ashland City,TN,37015,Family Dollar #590
4,-84.610186,35.448242,"Family Dollar-Athens,TN",911 Decatur Pike,Athens,TN,37303,Family Dollar #295
...,...,...,...,...,...,...,...,...
188,-86.215996,35.358601,"Family Dollar-Tullahoma,TN",437 W Lincoln St,Tullahoma,TN,37388,Family Dollar #819
189,-84.584863,36.102002,"Family Dollar-Wartburg,TN",3910 Morgan County Hwy #3,Wartburg,TN,37887,Family Dollar #3114
190,-83.282542,36.106325,"Family Dollar-White Pine,TN",1214 State St,White Pine,TN,37890,Family Dollar #626
191,-83.339293,36.047745,"Family Dollar-White Pine,TN",299 Highway 113,White Pine,TN,37890,Family Dollar #12382
192,-85.527656,35.182432,"Family Dollar-Whitwell,TN",13170 Highway 28,Whitwell,TN,37397,Family Dollar #3965

In [8]:
all_metrics_clean = pd.read_csv(r'C:\Users\jared\Desktop\nss\capstone\data\all_metrics.csv')
all_metrics_clean

,Unnamed: 0,County,Population,Median_Income,YEAR,Poverty_Rate
0,0,"Meigs County, Tennessee",12758,49242,2020,16.0
1,1,"Montgomery County, Tennessee",220069,60779,2020,10.8
2,2,"Moore County, Tennessee",6461,64271,2020,9.8
3,3,"Obion County, Tennessee",30787,45643,2020,15.1
4,4,"Overton County, Tennessee",22511,43167,2020,16.3
...,...,...,...,...,...,...
90,90,"McMinn County, Tennessee",53276,50297,2020,14.0
91,91,"McNairy County, Tennessee",25866,44341,2020,15.0
92,92,"Madison County, Tennessee",98823,47580,2020,22.2
93,93,"Marion County, Tennessee",28837,50941,2020,14.7
94,94,"Maury County, Tennessee",100974,65942,2020,9.9

In [9]:
all_metrics_clean = all_metrics_clean.drop(columns = ['Unnamed: 0'])
all_metrics_clean

,County,Population,Median_Income,YEAR,Poverty_Rate
0,"Meigs County, Tennessee",12758,49242,2020,16.0
1,"Montgomery County, Tennessee",220069,60779,2020,10.8
2,"Moore County, Tennessee",6461,64271,2020,9.8
3,"Obion County, Tennessee",30787,45643,2020,15.1
4,"Overton County, Tennessee",22511,43167,2020,16.3
...,...,...,...,...,...
90,"McMinn County, Tennessee",53276,50297,2020,14.0
91,"McNairy County, Tennessee",25866,44341,2020,15.0
92,"Madison County, Tennessee",98823,47580,2020,22.2
93,"Marion County, Tennessee",28837,50941,2020,14.7
94,"Maury County, Tennessee",100974,65942,2020,9.9

In [10]:
zips_by_county = pd.read_csv(r"C:\Users\jared\Desktop\nss\capstone\data\zips.csv")
zips_by_county

     Zipcode          City             County State
0      37010         Adams   Robertson County    TN
1      37011       Antioch    Davidson County    TN
2      37012    Alexandria     De Kalb County    TN
3      37013       Antioch    Davidson County    TN
4      37014     Arrington  Williamson County    TN
..       ...           ...                ...   ...
791    38583        Sparta       White County    TN
792    38585       Spencer   Van Buren County    TN
793    38587       Walling       White County    TN
794    38588  Whitleyville     Jackson County    TN
795    38589        Wilder    Fentress County    TN

[796 rows x 4 columns]

In [11]:
DG_clean

,Longitude,Latitude,Location,Street_Address,City,State,Zip,Store
0,-87.066780,36.582896,"Dollar General-Adams,TN",7730 Highway 41 N,Adams,TN,37010,DG # 11451
1,-88.372241,35.232807,"Dollar General-Adamsville,TN",715 E Main St,Adamsville,TN,38310,DG # 3848
2,-82.709843,36.148669,"Dollar General-Afton,TN",4495 Erwin Hwy,Afton,TN,37616,DG # 21765
3,-82.745609,36.270779,"Dollar General-Afton,TN",7921 Kingsport Hwy,Afton,TN,37616,DG # 17297
4,-89.136447,35.790506,"Dollar General-Alamo,TN",1200 W Church St,Alamo,TN,38001,DG # 23713
...,...,...,...,...,...,...,...,...
876,-86.106468,35.182292,"Dollar General-Winchester,TN",585 South College St,Winchester,TN,37398,DG # 4658
877,-84.456505,36.542926,"Dollar General-Winfield,TN",23991 Scott Hwy,Winfield,TN,37892,DG # 19455
878,-86.084298,35.825738,"Dollar General Market-Woodbury,TN",1003 W Main St,Woodbury,TN,37190,DG # 9816
879,-86.050459,35.780487,"Dollar General-Woodbury,TN",3632 Jim Cummings Hwy,Woodbury,TN,37190,DG # 13977
880,-88.390025,35.866794,"Dollar General-Yuma,TN",12570 Highway 424,Yuma,TN,38390,DG # 10761

In [12]:
DG_clean = DG_clean.drop(columns = ['Location','Street_Address', 'Store'])
DG_clean

     Longitude   Latitude         City State    Zip
0   -87.066780  36.582896        Adams    TN  37010
1   -88.372241  35.232807   Adamsville    TN  38310
2   -82.709843  36.148669        Afton    TN  37616
3   -82.745609  36.270779        Afton    TN  37616
4   -89.136447  35.790506        Alamo    TN  38001
..         ...        ...          ...   ...    ...
876 -86.106468  35.182292   Winchester    TN  37398
877 -84.456505  36.542926     Winfield    TN  37892
878 -86.084298  35.825738     Woodbury    TN  37190
879 -86.050459  35.780487     Woodbury    TN  37190
880 -88.390025  35.866794         Yuma    TN  38390

[881 rows x 5 columns]

In [13]:
DG_clean['store'] = 'Dollar General'
DG_clean

     Longitude   Latitude         City State    Zip           store
0   -87.066780  36.582896        Adams    TN  37010  Dollar General
1   -88.372241  35.232807   Adamsville    TN  38310  Dollar General
2   -82.709843  36.148669        Afton    TN  37616  Dollar General
3   -82.745609  36.270779        Afton    TN  37616  Dollar General
4   -89.136447  35.790506        Alamo    TN  38001  Dollar General
..         ...        ...          ...   ...    ...             ...
876 -86.106468  35.182292   Winchester    TN  37398  Dollar General
877 -84.456505  36.542926     Winfield    TN  37892  Dollar General
878 -86.084298  35.825738     Woodbury    TN  37190  Dollar General
879 -86.050459  35.780487     Woodbury    TN  37190  Dollar General
880 -88.390025  35.866794         Yuma    TN  38390  Dollar General

[881 rows x 6 columns]

In [14]:
DT_clean

,Longitude,Latitude,Store,Street_Address,City,state,zip
0,-83.989156,35.766726,Dollar Tree #545 (Alcoa),1135 Hunters Crossing,Alcoa,TN,37701
1,-86.648068,36.047279,Dollar Tree #2157 (Antioch),5360 Mt View Rd,Antioch,TN,37013
2,-86.849140,34.992880,Dollar Tree #7460 (Ardmore),26366 Main St..,Ardmore,TN,38449
3,-86.750090,36.131190,Dollar Tree #6343 (Ashland City),290 Hutton Place Suite #160,Ashland City,TN,37015
4,-89.862236,35.204770,Dollar Tree #395 (Bartlett),6035 Stage Road,Bartlett,TN,38134
...,...,...,...,...,...,...,...
190,-84.474752,35.590067,Dollar Tree #6752 (Sweetwater),919 New Highway 68,Sweetwater,TN,37874
191,-86.239567,35.391670,Dollar Tree #501 (Tullahoma),2111 N. Jackson Street Suite 105,Tullahoma,TN,37388
192,-89.075551,36.414363,Dollar Tree #373 (Union City),1401 West Reelfoot Ave. Suite 202,Union City,TN,38261
193,-87.759131,35.324232,Dollar Tree #7566 (Waynesboro),321 Dexter L Woods.. Memorial Blvd Suite C,Waynesboro,TN,38485
194,-86.664940,36.468670,Dollar Tree #7739 (White House),485 Hwy 76,White House,TN,37188

In [15]:
DT_clean = DT_clean.drop(columns = ['Street_Address', 'Store'])
DT_clean

     Longitude   Latitude          City state    zip
0   -83.989156  35.766726         Alcoa    TN  37701
1   -86.648068  36.047279       Antioch    TN  37013
2   -86.849140  34.992880       Ardmore    TN  38449
3   -86.750090  36.131190  Ashland City    TN  37015
4   -89.862236  35.204770      Bartlett    TN  38134
..         ...        ...           ...   ...    ...
190 -84.474752  35.590067    Sweetwater    TN  37874
191 -86.239567  35.391670     Tullahoma    TN  37388
192 -89.075551  36.414363    Union City    TN  38261
193 -87.759131  35.324232    Waynesboro    TN  38485
194 -86.664940  36.468670   White House    TN  37188

[195 rows x 5 columns]

In [16]:
DT_clean['store'] = 'Dollar Tree'
DT_clean

     Longitude   Latitude          City state    zip        store
0   -83.989156  35.766726         Alcoa    TN  37701  Dollar Tree
1   -86.648068  36.047279       Antioch    TN  37013  Dollar Tree
2   -86.849140  34.992880       Ardmore    TN  38449  Dollar Tree
3   -86.750090  36.131190  Ashland City    TN  37015  Dollar Tree
4   -89.862236  35.204770      Bartlett    TN  38134  Dollar Tree
..         ...        ...           ...   ...    ...          ...
190 -84.474752  35.590067    Sweetwater    TN  37874  Dollar Tree
191 -86.239567  35.391670     Tullahoma    TN  37388  Dollar Tree
192 -89.075551  36.414363    Union City    TN  38261  Dollar Tree
193 -87.759131  35.324232    Waynesboro    TN  38485  Dollar Tree
194 -86.664940  36.468670   White House    TN  37188  Dollar Tree

[195 rows x 6 columns]

In [17]:
FD_clean

,Longitude,Latitude,Location,Street_Address,City,State,Zip,Store
0,-88.385567,35.235951,"Family Dollar-Adamsville,TN",306 E Main Street,Adamsville,TN,38310,Family Dollar #10798
1,-86.651101,36.049583,"Family Dollar-Antioch,TN",853 Bell Road,Antioch,TN,37013,Family Dollar #8967
2,-86.682853,36.069604,"Family Dollar-Antioch,TN",955 Richards Road,Antioch,TN,37013,Family Dollar #5657
3,-87.052730,36.261661,"Family Dollar-Ashland City,TN",835 S Main St,Ashland City,TN,37015,Family Dollar #590
4,-84.610186,35.448242,"Family Dollar-Athens,TN",911 Decatur Pike,Athens,TN,37303,Family Dollar #295
...,...,...,...,...,...,...,...,...
188,-86.215996,35.358601,"Family Dollar-Tullahoma,TN",437 W Lincoln St,Tullahoma,TN,37388,Family Dollar #819
189,-84.584863,36.102002,"Family Dollar-Wartburg,TN",3910 Morgan County Hwy #3,Wartburg,TN,37887,Family Dollar #3114
190,-83.282542,36.106325,"Family Dollar-White Pine,TN",1214 State St,White Pine,TN,37890,Family Dollar #626
191,-83.339293,36.047745,"Family Dollar-White Pine,TN",299 Highway 113,White Pine,TN,37890,Family Dollar #12382
192,-85.527656,35.182432,"Family Dollar-Whitwell,TN",13170 Highway 28,Whitwell,TN,37397,Family Dollar #3965

In [18]:
FD_clean = FD_clean.drop(columns = ['Location','Street_Address', 'Store'])
FD_clean

     Longitude   Latitude           City State    Zip
0   -88.385567  35.235951     Adamsville    TN  38310
1   -86.651101  36.049583        Antioch    TN  37013
2   -86.682853  36.069604        Antioch    TN  37013
3   -87.052730  36.261661   Ashland City    TN  37015
4   -84.610186  35.448242         Athens    TN  37303
..         ...        ...            ...   ...    ...
188 -86.215996  35.358601      Tullahoma    TN  37388
189 -84.584863  36.102002       Wartburg    TN  37887
190 -83.282542  36.106325     White Pine    TN  37890
191 -83.339293  36.047745     White Pine    TN  37890
192 -85.527656  35.182432       Whitwell    TN  37397

[193 rows x 5 columns]

In [19]:
FD_clean['store'] = 'Family Dollar'
FD_clean

     Longitude   Latitude           City State    Zip          store
0   -88.385567  35.235951     Adamsville    TN  38310  Family Dollar
1   -86.651101  36.049583        Antioch    TN  37013  Family Dollar
2   -86.682853  36.069604        Antioch    TN  37013  Family Dollar
3   -87.052730  36.261661   Ashland City    TN  37015  Family Dollar
4   -84.610186  35.448242         Athens    TN  37303  Family Dollar
..         ...        ...            ...   ...    ...            ...
188 -86.215996  35.358601      Tullahoma    TN  37388  Family Dollar
189 -84.584863  36.102002       Wartburg    TN  37887  Family Dollar
190 -83.282542  36.106325     White Pine    TN  37890  Family Dollar
191 -83.339293  36.047745     White Pine    TN  37890  Family Dollar
192 -85.527656  35.182432       Whitwell    TN  37397  Family Dollar

[193 rows x 6 columns]

In [20]:
DT_clean = DT_clean.rename(columns = {'state':'State','zip':'Zip'})

In [21]:
dollar_stores = pd.concat([DG_clean, DT_clean,FD_clean], ignore_index=True, axis=0)
dollar_stores

      Longitude   Latitude         City State    Zip           store
0    -87.066780  36.582896        Adams    TN  37010  Dollar General
1    -88.372241  35.232807   Adamsville    TN  38310  Dollar General
2    -82.709843  36.148669        Afton    TN  37616  Dollar General
3    -82.745609  36.270779        Afton    TN  37616  Dollar General
4    -89.136447  35.790506        Alamo    TN  38001  Dollar General
...         ...        ...          ...   ...    ...             ...
1264 -86.215996  35.358601    Tullahoma    TN  37388   Family Dollar
1265 -84.584863  36.102002     Wartburg    TN  37887   Family Dollar
1266 -83.282542  36.106325   White Pine    TN  37890   Family Dollar
1267 -83.339293  36.047745   White Pine    TN  37890   Family Dollar
1268 -85.527656  35.182432     Whitwell    TN  37397   Family Dollar

[1269 rows x 6 columns]

In [22]:
zips_by_county = zips_by_county.drop(columns = {'City','State'})
zips_by_county

     Zipcode             County
0      37010   Robertson County
1      37011    Davidson County
2      37012     De Kalb County
3      37013    Davidson County
4      37014  Williamson County
..       ...                ...
791    38583       White County
792    38585   Van Buren County
793    38587       White County
794    38588     Jackson County
795    38589    Fentress County

[796 rows x 2 columns]

In [23]:
County_Dollar_Stores = pd.merge(dollar_stores, zips_by_county,  how='inner', left_on=['Zip'], right_on = ['Zipcode'])
County_Dollar_Stores

,Longitude,Latitude,City,State,Zip,store,Zipcode,County
0,-87.066780,36.582896,Adams,TN,37010,Dollar General,37010,Robertson County
1,-88.372241,35.232807,Adamsville,TN,38310,Dollar General,38310,McNairy County
2,-88.385567,35.235951,Adamsville,TN,38310,Family Dollar,38310,McNairy County
3,-82.709843,36.148669,Afton,TN,37616,Dollar General,37616,Greene County
4,-82.745609,36.270779,Afton,TN,37616,Dollar General,37616,Greene County
...,...,...,...,...,...,...,...,...
1264,-90.001545,35.160848,Memphis,TN,38107,Family Dollar,38107,Shelby County
1265,-90.037129,35.163915,Memphis,TN,38107,Family Dollar,38107,Shelby County
1266,-90.027939,35.157386,Memphis,TN,38107,Family Dollar,38107,Shelby County
1267,-89.812317,35.447070,Munford,TN,38058,Family Dollar,38058,Tipton County
1268,-89.487067,36.263903,Ridgely,TN,38080,Family Dollar,38080,Lake County

In [24]:
County_Dollar_Stores = County_Dollar_Stores.drop(columns = {'Zip'})
County_Dollar_Stores

,Longitude,Latitude,City,State,store,Zipcode,County
0,-87.066780,36.582896,Adams,TN,Dollar General,37010,Robertson County
1,-88.372241,35.232807,Adamsville,TN,Dollar General,38310,McNairy County
2,-88.385567,35.235951,Adamsville,TN,Family Dollar,38310,McNairy County
3,-82.709843,36.148669,Afton,TN,Dollar General,37616,Greene County
4,-82.745609,36.270779,Afton,TN,Dollar General,37616,Greene County
...,...,...,...,...,...,...,...
1264,-90.001545,35.160848,Memphis,TN,Family Dollar,38107,Shelby County
1265,-90.037129,35.163915,Memphis,TN,Family Dollar,38107,Shelby County
1266,-90.027939,35.157386,Memphis,TN,Family Dollar,38107,Shelby County
1267,-89.812317,35.447070,Munford,TN,Family Dollar,38058,Tipton County
1268,-89.487067,36.263903,Ridgely,TN,Family Dollar,38080,Lake County

In [25]:
County_Dollar_Stores

,Longitude,Latitude,City,State,store,Zipcode,County
0,-87.066780,36.582896,Adams,TN,Dollar General,37010,Robertson County
1,-88.372241,35.232807,Adamsville,TN,Dollar General,38310,McNairy County
2,-88.385567,35.235951,Adamsville,TN,Family Dollar,38310,McNairy County
3,-82.709843,36.148669,Afton,TN,Dollar General,37616,Greene County
4,-82.745609,36.270779,Afton,TN,Dollar General,37616,Greene County
...,...,...,...,...,...,...,...
1264,-90.001545,35.160848,Memphis,TN,Family Dollar,38107,Shelby County
1265,-90.037129,35.163915,Memphis,TN,Family Dollar,38107,Shelby County
1266,-90.027939,35.157386,Memphis,TN,Family Dollar,38107,Shelby County
1267,-89.812317,35.447070,Munford,TN,Family Dollar,38058,Tipton County
1268,-89.487067,36.263903,Ridgely,TN,Family Dollar,38080,Lake County

In [26]:
all_metrics_clean = all_metrics_clean.drop(columns = {'YEAR'})
all_metrics_clean

                          County  Population  Median_Income  Poverty_Rate
0        Meigs County, Tennessee       12758          49242          16.0
1   Montgomery County, Tennessee      220069          60779          10.8
2        Moore County, Tennessee        6461          64271           9.8
3        Obion County, Tennessee       30787          45643          15.1
4      Overton County, Tennessee       22511          43167          16.3
..                           ...         ...            ...           ...
90      McMinn County, Tennessee       53276          50297          14.0
91     McNairy County, Tennessee       25866          44341          15.0
92     Madison County, Tennessee       98823          47580          22.2
93      Marion County, Tennessee       28837          50941          14.7
94       Maury County, Tennessee      100974          65942           9.9

[95 rows x 4 columns]

In [27]:
all_metrics_clean['County'] = all_metrics_clean['County'].str.replace(', Tennessee','')
all_metrics_clean

               County  Population  Median_Income  Poverty_Rate
0        Meigs County       12758          49242          16.0
1   Montgomery County      220069          60779          10.8
2        Moore County        6461          64271           9.8
3        Obion County       30787          45643          15.1
4      Overton County       22511          43167          16.3
..                ...         ...            ...           ...
90      McMinn County       53276          50297          14.0
91     McNairy County       25866          44341          15.0
92     Madison County       98823          47580          22.2
93      Marion County       28837          50941          14.7
94       Maury County      100974          65942           9.9

[95 rows x 4 columns]

In [28]:
all_metrics_clean['County'] = all_metrics_clean['County'].str.replace('DeKalb County','De Kalb County')

In [29]:
County_Dollar_Stores

,Longitude,Latitude,City,State,store,Zipcode,County
0,-87.066780,36.582896,Adams,TN,Dollar General,37010,Robertson County
1,-88.372241,35.232807,Adamsville,TN,Dollar General,38310,McNairy County
2,-88.385567,35.235951,Adamsville,TN,Family Dollar,38310,McNairy County
3,-82.709843,36.148669,Afton,TN,Dollar General,37616,Greene County
4,-82.745609,36.270779,Afton,TN,Dollar General,37616,Greene County
...,...,...,...,...,...,...,...
1264,-90.001545,35.160848,Memphis,TN,Family Dollar,38107,Shelby County
1265,-90.037129,35.163915,Memphis,TN,Family Dollar,38107,Shelby County
1266,-90.027939,35.157386,Memphis,TN,Family Dollar,38107,Shelby County
1267,-89.812317,35.447070,Munford,TN,Family Dollar,38058,Tipton County
1268,-89.487067,36.263903,Ridgely,TN,Family Dollar,38080,Lake County

In [30]:
County_Dollar_Stores.value_counts('County')

County
Shelby County        147
Davidson County       80
Hamilton County       58
Knox County           58
Rutherford County     40
                    ...
Hancock County         2
Jackson County         2
Van Buren County       1
Trousdale County       1
Moore County           1
Length: 95, dtype: int64

In [31]:
Metric_Merge = pd.merge(County_Dollar_Stores, all_metrics_clean,  how='left', left_on=['County'], right_on = ['County'])
Metric_Merge

,Longitude,Latitude,City,State,store,Zipcode,County,Population,Median_Income,Poverty_Rate
0,-87.066780,36.582896,Adams,TN,Dollar General,37010,Robertson County,72803,63918,9.2
1,-88.372241,35.232807,Adamsville,TN,Dollar General,38310,McNairy County,25866,44341,15.0
2,-88.385567,35.235951,Adamsville,TN,Family Dollar,38310,McNairy County,25866,44341,15.0
3,-82.709843,36.148669,Afton,TN,Dollar General,37616,Greene County,70152,43164,16.4
4,-82.745609,36.270779,Afton,TN,Dollar General,37616,Greene County,70152,43164,16.4
...,...,...,...,...,...,...,...,...,...,...
1264,-90.001545,35.160848,Memphis,TN,Family Dollar,38107,Shelby County,929744,50870,19.1
1265,-90.037129,35.163915,Memphis,TN,Family Dollar,38107,Shelby County,929744,50870,19.1
1266,-90.027939,35.157386,Memphis,TN,Family Dollar,38107,Shelby County,929744,50870,19.1
1267,-89.812317,35.447070,Munford,TN,Family Dollar,38058,Tipton County,60970,61432,12.7
1268,-89.487067,36.263903,Ridgely,TN,Family Dollar,38080,Lake County,7005,32163,36.4

In [32]:
Stores_per_county = Metric_Merge.County.value_counts().reset_index()
Stores_per_county

                index  County
0       Shelby County     147
1     Davidson County      80
2         Knox County      58
3     Hamilton County      58
4   Rutherford County      40
..                ...     ...
90     Hancock County       2
91        Lake County       2
92       Moore County       1
93   Trousdale County       1
94   Van Buren County       1

[95 rows x 2 columns]

In [33]:
Stores_per_county = pd.DataFrame(Stores_per_county)

In [34]:
type(Stores_per_county)

pandas.core.frame.DataFrame

In [35]:
Stores_per_county = Stores_per_county.rename(columns = {'County':'County_Store_Count'})
Stores_per_county

                index  County_Store_Count
0       Shelby County                 147
1     Davidson County                  80
2         Knox County                  58
3     Hamilton County                  58
4   Rutherford County                  40
..                ...                 ...
90     Hancock County                   2
91        Lake County                   2
92       Moore County                   1
93   Trousdale County                   1
94   Van Buren County                   1

[95 rows x 2 columns]

In [36]:
Stores_per_county = Stores_per_county.rename(columns = {'index':'County'})
Stores_per_county

               County  County_Store_Count
0       Shelby County                 147
1     Davidson County                  80
2         Knox County                  58
3     Hamilton County                  58
4   Rutherford County                  40
..                ...                 ...
90     Hancock County                   2
91        Lake County                   2
92       Moore County                   1
93   Trousdale County                   1
94   Van Buren County                   1

[95 rows x 2 columns]

In [37]:
Metric_Merge_2 = pd.merge(Metric_Merge, Stores_per_county,  how='inner', left_on=['County'], right_on = ['County'])
Metric_Merge_2

,Longitude,Latitude,City,State,store,Zipcode,County,Population,Median_Income,Poverty_Rate,County_Store_Count
0,-87.066780,36.582896,Adams,TN,Dollar General,37010,Robertson County,72803,63918,9.2,17
1,-86.994422,36.554080,Cedar Hill,TN,Dollar General,37032,Robertson County,72803,63918,9.2,17
2,-87.095345,36.439894,Cedar Hill,TN,Dollar General,37032,Robertson County,72803,63918,9.2,17
3,-86.693908,36.548279,Cross Plains,TN,Dollar General,37049,Robertson County,72803,63918,9.2,17
4,-86.640093,36.527315,Cross Plains,TN,Dollar General,37049,Robertson County,72803,63918,9.2,17
...,...,...,...,...,...,...,...,...,...,...,...
1264,-83.218098,36.529337,Sneedville,TN,Dollar General,37869,Hancock County,6662,33109,28.6,2
1265,-83.216687,36.517798,Sneedville,TN,Family Dollar,37869,Hancock County,6662,33109,28.6,2
1266,-85.457235,35.750996,Spencer,TN,Dollar General,38585,Van Buren County,6168,45908,16.1,1
1267,-89.468406,36.367422,Tiptonville,TN,Dollar General,38079,Lake County,7005,32163,36.4,2
1268,-89.487067,36.263903,Ridgely,TN,Family Dollar,38080,Lake County,7005,32163,36.4,2

In [38]:
Metric_Merge_2['Stores_Per_Capita'] = Metric_Merge_2['County_Store_Count'] / Metric_Merge_2['Population']
Metric_Merge_2.sort_values(by = 'Stores_Per_Capita', ascending = False)

,Longitude,Latitude,City,State,store,Zipcode,County,Population,Median_Income,Poverty_Rate,County_Store_Count,Stores_Per_Capita
936,-84.788969,35.522451,Decatur,TN,Dollar General,37322,Meigs County,12758,49242,16.0,7,0.000549
937,-84.874870,35.425384,Decatur,TN,Dollar General,37322,Meigs County,12758,49242,16.0,7,0.000549
938,-84.790675,35.518219,Decatur,TN,Dollar Tree,37322,Meigs County,12758,49242,16.0,7,0.000549
939,-84.999910,35.252720,Georgetown,TN,Dollar General,37336,Meigs County,12758,49242,16.0,7,0.000549
940,-84.946088,35.287227,Georgetown,TN,Dollar General,37336,Meigs County,12758,49242,16.0,7,0.000549
...,...,...,...,...,...,...,...,...,...,...,...,...
1021,-86.831899,35.915770,Franklin,TN,Dollar General,37064,Williamson County,247726,118257,4.1,8,0.000032
1022,-86.877392,35.932806,Franklin,TN,Dollar General,37064,Williamson County,247726,118257,4.1,8,0.000032
1023,-86.836193,35.916231,Franklin,TN,Dollar Tree,37064,Williamson County,247726,118257,4.1,8,0.000032
1025,-86.809409,35.969697,Brentwood,TN,Dollar Tree,37027,Williamson County,247726,118257,4.1,8,0.000032
1024,-86.674650,35.963047,Nolensville,TN,Dollar General,37135,Williamson County,247726,118257,4.1,8,0.000032

In [39]:
Metric_Merge_2['Stores_Per_10k'] = Metric_Merge_2['Stores_Per_Capita'] * 10000
Metric_Merge_2.sort_values(by = "Stores_Per_10k", ascending = False)

,Longitude,Latitude,City,State,store,Zipcode,County,Population,Median_Income,Poverty_Rate,County_Store_Count,Stores_Per_Capita,Stores_Per_10k
936,-84.788969,35.522451,Decatur,TN,Dollar General,37322,Meigs County,12758,49242,16.0,7,0.000549,5.486753
937,-84.874870,35.425384,Decatur,TN,Dollar General,37322,Meigs County,12758,49242,16.0,7,0.000549,5.486753
938,-84.790675,35.518219,Decatur,TN,Dollar Tree,37322,Meigs County,12758,49242,16.0,7,0.000549,5.486753
939,-84.999910,35.252720,Georgetown,TN,Dollar General,37336,Meigs County,12758,49242,16.0,7,0.000549,5.486753
940,-84.946088,35.287227,Georgetown,TN,Dollar General,37336,Meigs County,12758,49242,16.0,7,0.000549,5.486753
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,-86.831899,35.915770,Franklin,TN,Dollar General,37064,Williamson County,247726,118257,4.1,8,0.000032,0.322937
1022,-86.877392,35.932806,Franklin,TN,Dollar General,37064,Williamson County,247726,118257,4.1,8,0.000032,0.322937
1023,-86.836193,35.916231,Franklin,TN,Dollar Tree,37064,Williamson County,247726,118257,4.1,8,0.000032,0.322937
1025,-86.809409,35.969697,Brentwood,TN,Dollar Tree,37027,Williamson County,247726,118257,4.1,8,0.000032,0.322937
1024,-86.674650,35.963047,Nolensville,TN,Dollar General,37135,Williamson County,247726,118257,4.1,8,0.000032,0.322937